body {
  font-size: 16px;
  color: ;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #D3D3D3;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* company name */
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list {
  margin-top: 10px;
  background-color: white;
  text-align: center;
   font-size: 1.8em;
}
#nav-list li {
   border-style: solid;
   border-color: black;
   border-bottom: 2px;
   border-right: 2px
   border-left: 2px;
 }

 div p {
  padding-top: 30px;
  background-color: #D3D3D3;
 }
 div span{
 position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;

 }
